* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(5, 5, 5);
    color: #fff;
}

h1{
    color: red;
    position: absolute;
    text-align: center;
    top: 10px;
    margin: 0;
    font-size: 50px;
    cursor: pointer;
}

.container {
    display: flex;
    width: 100vw;
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

/* IMAGES SOURCES */
/* htps://wallpapercave.com/pc-games-wallpapers */

.image-1 {
    background-image: url(Minecraft.jpeg);
}

.image-2 {
    background-image: url(Roblox.jpeg);
}

.image-3 {
    background-image: url(Freefire.jpeg);
}

.image-4 {
    background-image: url(GTA\ 1.jpeg);
}

.image-5 {
    background-image: url(Call\ of\ Duty.jpeg);
}

.slide {
    position: relative;
    height: 80vh;
    flex: 0.5;
    border-radius: 50px;
    color: #fff;
    margin: 10px;
    cursor: pointer;
    transition: all 700ms ease-in;
}

.slide h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    font-size: 24px;
}

@media (max-width: 480px) {
    .slide:nth-last-of-type(4),
    .slide:nth-last-of-type(5) {
    display: none;
    }
}

/*JavaScript*/
.slide.active {
    flex: 5;
}

.slide.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}